version: "3.9"

services:
  movie-booking-app:
    build: .
    container_name: movie-booking-app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - mongo
    volumes:
      - .:/app
    command: ["uvicorn", "app.app.main:app", "--host", "0.0.0.0", "--port", "8000"]

  mongo:
    image: mongo:6.0
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    restart: unless-stopped

volumes:
  mongo-data:
